body {
    font-family: Arial, sans-serif;
    background-color: #708090;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    padding: 20px;
    background-color: white;
    width: 800px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);

}

#title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    font-weight: 500;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: orange;
}

#tooltip {
    position: absolute;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
}

.tooltip-bar {
     position: absolute;
     text-align: center;
     padding: .5rem;
     background: #FFFFFF;
     color: #313639;
     border: 1px solid #313639;
     border-radius: 8px;
     pointer-events: none;
     font-size: 1.3rem;
}